.one-subcategory-grid {
  width: 100%;
  height: auto;
}

.one-subcategory-grid-item {
  width: 250px;
  float: left;
  margin: 25px;
}

.one-subcategory h3 {
  text-transform: capitalize;
  text-align: left;
  margin-top: 20px;
  padding-left: 70px;
}