.one-product {
  width: 100%;
  padding-top: 50px;
}

.one-product-content {
  /*width: 50%;*/
  margin: auto;
  display: flex;
  flex-direction: row;
}

.one-product-imgs {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #8080804a;
  border-radius: 4px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.one-product-preview-img {
  display: flex;
  flex-direction: column;
  width: 70px;
  margin-right: 20px;
}

.one-product-preview-img img {
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2px;
}

.one-product-preview-img img:hover {
  border: 1px solid gray;
}

.one-product-showing-img {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-product-showing-img img {
  max-width: 100%;
  max-height: 100%;
}

.one-product-main {
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.one-product-main h4 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.one-product-main h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  /*color: #ed143d;*/
}

.one-product-main p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.one-product-main button {
  width: 150px;
  height: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #ed143d;
  color: #fff;
  margin-top: 10px;
}

.one-product-main button a {
  color: #fff;
  text-decoration: none;
}

.one-product-similar-products {
  margin-top: 100px;
}

.one-product-similar-products h5 {
  text-align: left;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .one-product {
    padding-top: 30px;
  }

  .one-product-content {
    width: 80%;
    flex-direction: column;
  }

  .one-product-imgs {
    padding: 15px;
    width: 80%;
    height: 350px;
  }

  .one-product-showing-img {
    width: 100%;
    max-height: 350px;
  }

  .one-product-showing-img img {
    width: 100%;
    height: auto;
  }

  .one-product-main {
    padding: 20px;
    width: 100%;
  }

  .one-product-main h4 {
    font-size: 22px;
    margin-bottom: 8px;
    text-align: left;
  }

  .one-product-main h3 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .one-product-main p {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .one-product-main button {
    width: 125px;
    height: 30px;
    font-size: 14px;
    margin-top: 8px;
  }
}