.home-page-item-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 20px; */
    box-sizing: border-box;
    border: 1px solid #80808036;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.home-page-item-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #80808036;
    width: 100%;
}

.home-page-item-panel-header h4 {
    text-transform: capitalize;
    font-size: 18px;
}

.home-page-item-panel-header button {
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 100px;
    color: #fff;
    outline: none;
    background-color: #ed143d;
}

.home-page-item-panel-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    /*overflow-x: scroll;*/
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .home-page-item-panel-header {
    padding: 10px;
  }

  .home-page-item-panel-header h4 {
    font-size: 16px;
  }

  .home-page-item-panel-header button {
    font-size: 14px;
    height: 30px;
  }

  .home-page-item-panel-content {
    padding: 10px;
  }
}